<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="login_container">
  <div class="log_base">
    <h2 class="login_h">Вход</h2>
    <form th:action="@{/login}" method="post">
      <div class="form-group">
        <label for="username">Юзернейм</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
      </div>
      <button type="submit" class="btn_log">Войти</button>
    </form>
    <div class="reg_to">
    <p>Еще не зарегистрированы? <a href="/registration">Регистрация</a></p>
    </div>
  </div>
</div>
<div th:if="${error}" class="error-message">
  <p th:text="${error}"></p>
</div>
<script>var errorElement = document.querySelector('.error-message');

// Скрыть уведомление через 3 секунды
setTimeout(function() {
  errorElement.style.display = 'none';
}, 3000);</script>
</body>
</html>