* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px 20px;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    transition: all ease-in-out;
}

nav ul li a:hover {
    background-color: #555;
    transform: scale(1.1);
}


.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #87d0e4; /* Здесь указывается ваш бледный цвет */
}

.logoutNav {
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    transition: all ease-in-out;
}

.logoutNav:hover {
    transform: scale(1.1);
}

.key {
    font-weight: bold;
    font-size: 32px;
}

.value {
    font-size: 32px;

}

.info {
    display: flex;
    flex-direction: column;
    background-color: azure;
    border-radius: 6px;
    padding: 20px;
    gap: 5px;
}

.info_block {
    display: flex;
    gap: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}

.points {
    display: flex;
    gap: 10px;
}

.container > * {
    margin-right: 20px;
}

.container > *:last-child {
    margin-right: 0;
}

.progress_bar {
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    height: 20px;
    width: 200px;
    border: 1px solid #ccc;
    margin: 0 auto;
}

.progress_fill {
    background-color: #4CAF50;
    height: 100%;
}

.coin-image {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.money-section {
    display: flex;
    align-items: center;
}

.exp_block {
    display: flex;
    align-items: center;
    gap: 5px;
}

.ld_title {
    font-size: 3rem;
}

.ld_container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.ld {
    background-color: white;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.ld_item {
    display: grid;
    gap: 10px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.ld_heading {
    font-weight: bold;
}

.ld_tables {
    display: flex;
    gap: 20px;
}

.nav_link {
    font-size: 36px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    transition: all ease-in-out;
}

.nav_link:hover {
    transform: scale(1.1);
}

.nav-texts {
    display: flex;
    font-family: sans-serif;
}

.nav-texts > span {
    position: relative;
    padding: .5rem 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav-texts > span:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 25%;
    width: 2px;
    height: 50%;
    background-color: rgb(111, 111, 120);
}

.skin_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

.shop_container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
}

.skins {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.skin_details {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skin_price {
    font-weight: bold;
    color: green;
}

.skin_name {
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
}

.skin_image {
    width: 150px;
    height: 100px;
    object-fit: fill;
    border-radius: 5px;
    margin-bottom: 10px;
}


.skin_button {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #487cb7;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.skin_button:hover {
    background-color: #284e80;
    transform: scale(1.05);
}

h2 {
    font-size: 40px;
}

.changingnick{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
}

.inputschange{
    font-size: 18px;
    padding: 2px 5px;
}