<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<nav>
    <ul class="nav-texts">
        <span><a class="nav_link" href="/profile">Личный кабинет</a></span>
        <span><a class="nav_link" href="/game">Игра</a></span>
        <span><a class="nav_link" href="/leaderboard">Таблица Лидеров</a></span>
        <span><a class="nav_link" href="/shop">Магазин</a></span>
    </ul>
    <a href="/logout" class="logoutNav"  >Выйти</a>
</nav>
<div class="canvas-container">
    <canvas id="canvas" width="1000" height="512"></canvas>
</div>
<script th:inline="javascript">
    var username = /*[[${user.email}]]*/ null;
    console.log("Username: " + username);
</script>
<script src="/js/game.js"></script>
</body>
</html>