<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="UTF-8" />
    <title>Leaderboard</title>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
  <nav>
    <ul class="nav-texts">
      <span><a class="nav_link" href="/profile">Личный кабинет</a></span>
      <span><a class="nav_link" href="/game">Игра</a></span>
      <span><a class="nav_link" href="/leaderboard">Таблица Лидеров</a></span>
      <span><a class="nav_link" href="/shop">Магазин</a></span>
    </ul>
    <a href="/logout" class="logoutNav"  >Выйти</a>
  </nav>
    <div class="ld_container">
      <h1 class="ld_title">Таблицы лидеров</h1>
      <div class="ld_tables">
        <div class="ld">
          <div class="ld_item">
            <p class="ld_heading">Пользователь</p>
            <p class="ld_heading">Очки</p>
          </div>
          <div class="ld_item" th:each="attempt : ${topAttempts}">
            <p th:text="${attempt.user.email}"></p>
            <p th:text="${attempt.points}"></p>
          </div>
        </div>
        <div class="ld">
          <div class="ld_item">
            <p class="ld_heading">Пользователь</p>
            <p class="ld_heading">Валюта</p>
          </div>
          <div th:each="user : ${users}" class="ld_item">
            <p th:text="${user.email}"></p>
            <p th:text="${user.money}"></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
