<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Profile</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2>User Profile</h2>
  <table class="table">
    <tbody>
    <tr>
      <th>Username:</th>
      <td th:text="${user.email}"></td>
    </tr>
    <tr>
      <th>Email:</th>
      <td th:text="${user.password}"></td>
    </tr>
    <!-- Другие данные пользователя -->
    </tbody>
  </table>
</div>
</body>
</html>