<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Profile</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<nav>
  <ul class="nav-texts">
    <span><a class="nav_link" href="/profile">Личный кабинет</a></span>
    <span><a class="nav_link" href="/game">Игра</a></span>
    <span><a class="nav_link" href="/leaderboard">Таблица Лидеров</a></span>
    <span><a class="nav_link" href="/shop">Магаз</a></span>
  </ul>
  <a href="/logout" class="logoutNav"  >Выйти</a>
</nav>
<div class="container">
  <div class="info">
    <h2>User Profile</h2>
    <div class="info_block"><p class="key" >Username: </p><p th:text="${user.email}" class="value" id="username"></p></div>
    <div class="info_block"><p class="key">Lvl</p><p th:text="${user.lvl}" class="value"></p></div>
    <div class="exp_block"> <p class="key">Experience</p>
      <div class="progress_bar">
        <div class="progress_fill" th:style="'width: ' + (${user.exp} / 100 * 100) + '%'"></div>
      </div>
      <p th:text="${user.exp}" class="value"></p></div>
    <div class="info_block"><p class="key">Money</p>
      <div class="money-section">
        <p th:text="${user.money}" class="value"></p>
        <img src="/img/coin.png" alt="Coin" class="coin-image">
      </div>
    </div>
    <div  class="changingnick">
    <button id="changeNicknameButton" class="skin_button">Change Nickname</button>
      <div id="changeNickname" class="changingform" style="display: none;">
        <label for="newNickname">New Nickname:</label>
        <input placeholder="username" class="inputschange" type="text" id="newNickname" name="newNickname" required>
        <button id="submitchange" class="skin_button">Change</button>
      </div>
    </div>
  </div>
  <div class="info">
    <h2>Ваши лучшие 10 попыток</h2>
    <div th:each="attempt : ${attempts}" class="attempt">
      <div><strong>Очки:</strong> <span th:text="${attempt.points}"></span></div>
    <!-- Другая информация о попытке -->
    </div>
  </div>
  <div class="info">
  <h2>User Birds</h2>
    <div class="=info_block">
      <ul>
        <li th:each="bird : ${birds}">
          <img th:src="@{'/img/' + ${bird.name + '.png'}}" alt="Bird Image">
          <span th:text="${bird.name}"></span>
        </li>
      </ul>
    </div>
  </div>
</div>

<script th:inline="javascript">
    var username = /*[[${user.email}]]*/ null;
    console.log("Username: " + username);
</script>
<script src="/js/usernamechange.js"></script>
</body>
</html>