<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Bird Shop</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<nav>
  <ul class="nav-texts">
    <span><a class="nav_link" href="/profile">Личный кабинет</a></span>
    <span><a class="nav_link" href="/game">Игра</a></span>
    <span><a class="nav_link" href="/leaderboard">Таблица Лидеров</a></span>
  </ul>
  <a href="/logout" class="logoutNav"  >Выйти</a>
</nav>
<h1>Welcome to the Bird Shop</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <!-- Другие столбцы -->
  </tr>
  <tr th:each="bird : ${birds}">
    <td th:text="${bird.name}"></td>
    <td th:text="${bird.price}"></td>
    <!-- Другие столбцы -->
  </tr>
</table>
</body>
</html>