<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Bird Shop</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<nav>
    <ul class="nav-texts">
        <span><a class="nav_link" href="/profile">Личный кабинет</a></span>
        <span><a class="nav_link" href="/game">Игра</a></span>
        <span><a class="nav_link" href="/leaderboard">Таблица Лидеров</a></span>
        <span><a class="nav_link" href="/shop">Магаз</a></span>
    </ul>
    <a href="/logout" class="logoutNav">Выйти</a>
</nav>

<div class="sh_container">
    <h1 class="h_shop">Welcome to the Bird Shop</h1>
    <ul class="ski">
        <li class="sk_card" th:each="bird : ${birds}">
            <img class="sk_image" th:src="@{'/img/' + ${bird.name + '.png'}}"/>
            <div class="sk_details">
                <span class="sk_name" th:text="${bird.name}"></span>
                <span class="sk_price" th:text="${bird.price}"> ₿</span>
            </div>
            <button class="sk_button" type="button" th:id="${bird.name}">Купить</button>
        </li>
    </ul>
</div>
<script src="/js/buy.js"></script>
</body>
</html>